{% extends "base.html" %}

{% block content %}
<main>
    <div class="container mt-5" style="margin-top:100px;">
        <h1 class="mb-4">Attendee List for {{ event.name }}</h1>
    
        <table class="table table-bordered table-striped">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Attendee Name</th>
                    <th scope="col">Full Name</th>
                    <th scope="col">Email</th>
                </tr>
            </thead>
            <tbody>
                {% for attendee in attendees %}
                <tr>
                    <td>{{ attendee.user.username }}</td>
                    <td>{{ attendee.user.first_name }} {{ attendee.user.last_name }}</td>
                    <td>{{ attendee.user.email }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</main>
{% endblock %}
