{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block content %}
<main>
    <div class="container" style="margin-top:100px;">
        <h1 class="mb-4">Profile Page</h1>
        <!-- User Details Box -->
        <div class="card mb-4 profile-card">
            <div class="card-body">
                <h5 class="card-title">Username : {{ user_details.username }}</h5>
                <p class="card-text">Full Name : {{ user_details.first_name }} {{ user_details.last_name }}</p>
                <p class="card-text text-muted">Email : {{ user_details.email }}</p>
                <a class="btn btn-primary" href="{% url 'edit_profile' %}">Edit Profile</a>
                <a class="btn btn-primary" href="{% url 'change_password' %}">Change Password</a>
            </div>
        </div>
        
        

        {% comment %} Event Section {% endcomment %}
        <div style="margin-bottom: 20px;">
            <h1>Events:</h1>
        </div>
        <div class='row row-cols-1 row-cols-md-3 g-4'>
            {% for event in data %}
            <div class="col mb-4" style="margin-bottom: 20px;">
                <div class="card shadow p-3 bg-white rounded">
                    <img src="{{ event.event.image.url }}" class="card-img-top" alt="Event Image">
                    <div class="card-body">
                        <h5 class="card-title">Name: {{ event.event.name }}</h5>
                        <p class="card-text">Description: {{ event.event.description | truncatewords:10 }}</p>
                        <p class="card-text">Organizer: {{ event.event.organizer.first_name }} {{ event.event.organizer.last_name }}</p>
                        <p class="card-text">Date: {{ event.event.date }}</p>
                        <p class="card-text">Attendees: {{ event.event.attendee_count }}</p>
                        <p class="card-text">Tags: {{ event.event.tags }}</p>
                        <p>
                            Category : {% for cat in event.event.category.all %}
                            <button class="btn btn-primary btn-sm m-2" disabled>
                                {{cat.name}}
                            </button>
                            {% endfor %}
                        </p>
                        <a href="{% url 'detail_event' event.event.id %}" class="btn btn-success">Detail</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        
    </div>
</main>
{% endblock %}
