{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="col-12 container" style="margin-top:100px;">
    <h1 class="container text-center">Invitation card</h1>
    {% if not user.is_authenticated %}
            <h5 class="card-text text-center">You need to be logged in to accept the invitation. <a href="{% url 'login' %}">Login</a></h5>
    {%endif%}
    <div class="card m-3 shadow p-3 mb-5 bg-white rounded">
        <div class="row no-gutters">
            <div class="col-md-4">
                <img src="{{ event.image.url }}" class="card-img" alt="event_image">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">{{ event.name }}</h5>
                    <p class="card-text"><strong>Description:</strong> {{ event.description }}</p>
                    <p class="card-text"><strong>Date:</strong> {{ event.date }}</p>
                    <p class="card-text"><strong>Time:</strong> {{ event.time }}</p>
                    <p class="card-text"><strong>Location:</strong> {{ event.location }}</p>
                    <p class="card-text"><strong>Public:</strong> {{ event.is_public }}</p>
                    <p class="card-text"><strong>Attendees:</strong> {{ event.attendee_count }}</p>
                    <p class="card-text"><strong>Tags:</strong> {{ event.tags }}</p>
                    
                    <p><strong>Category:</strong>
                        {% for cat in event.category.all %}
                        <button class="btn btn-primary btn-sm m-2" disabled>
                            {{ cat.name }}
                        </button>
                        {% endfor %}
                    </p>
                    <hr>
                    <h3>Organizer Detail:</h3>
                    <p class="card-text"><strong>Organizer:</strong> {{ event.organizer.first_name }} {{ event.organizer.last_name }}</p>
                    <p class="card-text"><strong>Email:</strong> {{ event.organizer.email }}</p>
                    <br>
                    {% if user.is_authenticated %}
                    <a href="{% url 'accept_event' event.id %}" class="btn btn-success">Accept</a>
                    <a href="{% url 'homepage' %}" class="btn btn-danger">Decline</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
