{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VibeVento</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/swiffy-slider@1.6.0/dist/css/swiffy-slider.min.css" rel="stylesheet" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Signika:wght@400;600&display=swap">


    <link rel="stylesheet" href="{% static 'style.css'%}">
    <!--Start of Tawk.to Script-->
    <script type="text/javascript">
    var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
    (function(){
    var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
    s1.async=true;
    s1.src='https://embed.tawk.to/65b24ffd8d261e1b5f57d9e0/1hl08guhv';
    s1.charset='UTF-8';
    s1.setAttribute('crossorigin','*');
    s0.parentNode.insertBefore(s1,s0);
    })();
    </script>
    <!--End of Tawk.to Script-->
</head>
<body >
    
    {% comment %} Navbar Section {% endcomment %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
      <div class="container-fluid">
          <a class="navbar-brand" href="#">VibeVento</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                      <a class="nav-link active" aria-current="page" href="{%url 'homepage'%}">Home</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link active" aria-current="page" href="{%url 'about_us' %}">About Us</a>
                  </li>
                  {%if user.is_authenticated%}
                  <li class="nav-item">
                      <a class="nav-link" href="{% url 'add_events'%}">Add Event</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="{% url 'add_category' %}">Add Category</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="{% url 'organize_event' %}">Organize Event</a>
                  </li>
                  {% endif %}
              </ul>
              <div class="d-flex">
                  <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                      {%if user.is_authenticated%}
                      <li>
                          <h5 class="text-dark mx-3">Username : {{user.username}}</h5>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link btn btn-outline-warning mx-2" href="{% url 'profile'%}">Profile</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link btn btn-outline-primary" href="{% url 'logout'%}">Logout</a>
                      </li>
                      {%else%}
                      <li class="nav-item">
                          <a class="nav-link btn btn-outline-warning mx-2" href="{% url 'signup'%}">Register</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link btn btn-outline-primary" href="{% url 'login'%}">Log in</a>
                      </li>
                      {% endif %}
                      {% comment %} <button class="nav-link btn btn-outline-danger" id="modeSwitchButton">Change Mode</button> {% endcomment %}
                  </ul>
              </div>
          </div>
      </div>
  </nav>
  

  {% for i in messages %}
      <div>
          <h1 class="text-{{ i.tags }}">{{ i }}</h1>
      </div>
  {% endfor %}

      {% comment %} Block Content {% endcomment %}

      {%block content%}

      {%endblock%}

      {% comment %} Footer File {% endcomment %}
      <footer class="full-footer">
        <div class="footer mt-3">
          <div class="company-name  m-5 "><h3>VibeVento</h3></div>
        <div class="social-link m-5 ">
          <h3>Social Links</h3>
            <a href="https://www.facebook.com">
            <i class="bi bi-facebook"></i>
            </a>

            <a href="https://wa.me/your_whatsapp_number">
                <i class="bi bi-whatsapp"></i>
            </a>

            <a href="https://www.instagram.com">
                <i class="bi bi-instagram"></i>
            </a>

            <a href="https://www.linkedin.com">
                <i class="bi bi-linkedin"></i>
            </a>
        </div>
        <div class=" company m-5">
          <h3>Company</h3>
          <li><a href="{%url 'homepage'%}">Home</a></li>
          <li><a href="{%url 'about_us'%}">Services</a></li>
          <li><a href="{%url 'about_us'%}">About Us</a></li>
          <li><a href="{%url 'about_us'%}">Company</a></li>
        </div>
        </div>
        <div class="owner text-center"><h4>  © {% now "Y" %} Modified by Rahat</h4></div>
</footer>


    {% comment %} Script File {% endcomment %}
    {% comment %} <script>
        $(document).ready(function () {
            $('.dropdown-toggle').dropdown();
        });
    </script> {% endcomment %}
    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></scrip>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/swiffy-slider@1.6.0/dist/js/swiffy-slider.min.js" crossorigin="anonymous" defer></script>
</body>
</html>