{% extends "base.html" %}

{% load static %}
{% block content %}


{% comment %} Carosoul {% endcomment %}
<div class="container mt-5" data-aos="fade-up">
  <div class="container">
    <div class="swiffy-slider slider-nav-round slider-nav-animation slider-nav-animation-fadein slider-item-first-visible ">
      <ul class="slider-container">
          <li class="slide-visible">
              <div class="card rounded-0 h-80">
                  <div class="row g-0 h-100">
                      <div class="col-md-6 col-xl-5 d-flex align-items-center p-2 p-md-3 p-xl-5">
                          <div class="card-body p-1 p-md-3 p-xl-5">
                              <p class="lead">Event On Mind</p>
                              <h2 class="card-title" style="color:#DF1E1E;">ViveVento</h2>
                              <p class="card-text mt-3">Unveiling Elegance: A Gala Evening</p>
                              <p>Prepare to be swept away by an evening of opulence and glamour at our upcoming gala event, "Unveiling Elegance." Join us for an enchanting night filled with live music, gourmet dining, and captivating performances in an exquisite venue. Dress in your finest attire and immerse yourself in an atmosphere of sophistication, as we create unforgettable memories in celebration of elegance and refined indulgence.</p>
                              <p class="card-text"><small class="text-muted">Remember to check out</small></p>
                          </div>
                      </div>
                      <div class="col-md-6 col-xl-7">
                          <img src="{% static 'slide1.jpg'%}" class="card-img d-none d-md-block" loading="lazy" style="height: 100%; object-fit: cover;" alt="...">
                      
                      </div>
                  </div>
              </div>
          </li>
          <li>
              <div class="card rounded-0 h-80">
                  <div class="row g-0 h-100">
                      <div class="col-md-6 col-xl-7">
                          <img src="{% static 'slide2.jpg'%}" class="card-img d-none d-md-block" loading="lazy" style="height: 100%; object-fit: cover" alt="...">
                        
                      </div>
                      <div class="col-md-6 col-xl-5 d-flex align-items-center p-2 p-md-3 p-xl-5">
                          <div class="card-body p-1 p-md-3 p-xl-5">
                              <p class="lead">Dreaming about Festival</p>
                              <h2 class="card-title" style="color:#DF1E1E;">Tech Innovators Summit: Shaping the Future</h2>
                              <p class="card-text mt-3">Embark on a journey of technological exploration at the "Tech Innovators Summit: Shaping the Future." This groundbreaking event brings together visionaries, thought leaders, and industry experts for a dynamic exchange of ideas, showcasing the latest advancements in technology. From keynote presentations to interactive workshops, join us as we delve into the forefront of innovation and collectively pave the way for a transformative future.</p>
                              <p class="card-text"><small class="text-muted">Handcrafted like good thing</small></p>
                          </div>
                      </div>
                  </div>
              </div>
          </li>
          <li>
              <div class="card rounded-0 h-75 text-dark">
                  <img src="{% static 'slide3.jpg'%}" class="card-img h-100" style="max-height: 100%; max-width: 100%; object-fit: cover" alt="...">
                  <div class="card-img-overlay d-flex align-items-start align-items-md-center justify-content-center flex-column">
                      <h2 class="card-title h1 d-block d-md-inline-block">The Aston Martin DB5</h2>
                      <p class="card-text lead col-md-8 col-lg-6">The Aston Martin DB5 is a British luxury grand tourer (GT) that was made by Aston Martin and designed by the Italian coachbuilder Carrozzeria Touring Superleggera. </p>
                  </div>
              </div>
          </li>
      </ul>
  
      <button type="button" class="slider-nav" aria-label="Go left"></button>
      <button type="button" class="slider-nav slider-nav-next" aria-label="Go left"></button>
  
      <div class="slider-indicators">
          <button class="active" aria-label="Go to slide"></button>
          <button aria-label="Go to slide"></button>
          <button aria-label="Go to slide"></button>
      </div>
  </div>
  </div>
  <div class="container">
    <marquee class="slide-text">"An event is a planned occurrence, often involving a gathering of people for a specific purpose or celebration. It can range from social gatherings like weddings and parties to more formal occasions such as conferences or concerts, providing opportunities for shared experiences and meaningful interactions."</marquee>
  </div>
  <div class="d-flex flex-wrap align-items-center px-3 pt-4" data-aos="fade-up">
    <div class="col-12">
        <h1 class="text-center">Welcome to Vibevento</h1>
        <p>Vibe Vento, our cutting-edge event management project, offers an immersive platform that seamlessly integrates user registration, login, and logout functionalities for a secure and personalized experience. The user-friendly interface features a dedicated navbar, allowing effortless event addition. Organizers benefit from advanced control options, including the ability to edit, delete, and access attendee lists within the "Organize Event" tag. The user profile section further enhances convenience by displaying a comprehensive list of accepted events, fostering a cohesive and efficient environment for event coordination and management. Dive into Vibe Vento and elevate your event planning experience.</p>
    </div>
    {% comment %} <div class="col-6">
  
      <img class="img-fluid" src="{% static 'header.jpg'%}" alt="Logo">
  
    </div> {% endcomment %}
  </div>
  </div>
</div>



{% comment %} Recent Carosoul {% endcomment %}
<div class="container" data-aos="fade-up">
  <h1 class="text-center">Recent Events</h1>
  <div class="swiffy-slider slider-item-show3 slider-nav-dark slider-nav-visible slider-nav-outside slider-item-snapstart my-3 slider-nav-sm my-xl-5 slider-indicators-square slider-indicators-outside slider-indicators-dark slider-nav-animation-slideup slider-nav-animation">
    <div class="slider-container">
        <div class="">
            <div>
                <h3 class="mb-0 h6" style="color:#DF1E1E;">Today @ 11:12</h3>
                <strong>Never seen before:</strong> Billion people taking clickbait on SoMe every hour. <small class="text-muted text-uppercase">People</small>
            </div>
        </div>
        <div class="">
            <div>
                <h3 class="mb-0 h6" style="color:#DF1E1E;">Today @ 10:02</h3>
                <span class="badge bg-warning text-dark"><strong>BREAKING</strong></span> Great and superfast websites can be made with simple technology. <small class="text-muted text-uppercase">Religion</small>
            </div>
        </div>
        <div class="slide-visible">
            <div>
                <h3 class="mb-0 h6" style="color:#DF1E1E;">Today @ 09:48</h3>
                Google, Facebook and Apple announces they will respect privacy. <small class="text-muted text-uppercase">Corp BS</small>
            </div>
        </div>
        <div class="slide-visible">
            <div>
                <h3 class="mb-0 h6" style="color:#DF1E1E;">Today @ 09:32</h3>
                <span class="badge bg-success"><strong>Style</strong></span> Get fantastic lunch recipes for developers working at home. <small class="text-muted text-uppercase">Awesome</small>
            </div>
        </div>
        <div class="slide-visible">
            <div>
                <h3 class="mb-0 h6" style="color:#DF1E1E;">Today @ 09:28</h3>
                <strong>Just released:</strong> an even more fat-ass framework that can render markup <small class="text-muted text-uppercase">Music</small>
            </div>
        </div>
        <div class="">
            <div>
                <h3 class="mb-0 h6" style="color:#DF1E1E;">Today @ 08:08</h3>
                Swiffy Slider is very nice, neat and fast. <small class="text-muted text-uppercase">Simple</small>
            </div>
        </div>
    </div>

    <button type="button" class="slider-nav" aria-label="Go left"></button>
    <button type="button" class="slider-nav slider-nav-next" aria-label="Go left"></button>

    <div class="slider-indicators" style="justify-content:right;margin-left: 3rem;">
        <button class="" aria-label="Go to slide"></button>
        <button aria-label="Go to slide"></button>
        <button aria-label="Go to slide" class="active"></button>
        <button aria-label="Go to slide" class=""></button>
    </div>

</div>
</div>

<hr data-aos="fade-up">
    <!-- Upcoming Events Section -->
    <div class="container" data-aos="fade-up">
      <div class="upcoming-events">
          <h2 style="font-weight: bold;">Upcoming Events</h2>
          <div class="d-flex flex-column align-items-center mt-5 m-auto">
              <h5 style="font-weight: bold;">All Categories</h5>
              <div class="dropdown">
                  <button class="btn btn-secondary dropdown-toggle" type="button" id="categoryDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background-color:black; color: #fff; border-color: black; font-weight: bold;">
                      Select Category
                  </button>
                  <div class="dropdown-menu" aria-labelledby="categoryDropdown">
                      {% for cat in categories %}
                          <a class="dropdown-item" href="{% url 'category_wise_event' cat.slug %}" style="color: #333; font-weight: bold;">{{ cat.name }}</a>
                      {% endfor %}
                  </div>
              </div>
          </div>
      </div>
      <div class='d-flex flex-wrap p-4'>
        <div class="col-12 p-3">
            <h4>{{ data | length }} results found</h4>
            <div class="d-flex flex-wrap pt-5" data-aos="fade-up">
              {% for event in data %}
              <div class="col-sm-6 mb-5">
                <div class="m-2 bg-white d-flex flex-column" style="height: 110%; border: none;">
                    <div class="row">
                        <!-- Column for Image -->
                        <div class="col-md-6" style="height: 100%;">
                            <img src="{{ event.image.url }}" class="card-img-top" style="height: 400px; object-fit: cover;" data-aos="fade-up" alt="event_image">
                        </div>
                        <!-- Column for Text -->
                        <div class="col-md-6">
                            <div class="card-body" data-aos="fade-up">
                                <h5 class="card-title bg-warning text-white p-2 mb-3">{{ event.name }}</h5>
                                <p class="card-text">{{ event.description | truncatewords:10 }}</p>
                                <p class="card-text"><strong>Organizer:</strong> {{ event.organizer.first_name }} {{ event.organizer.last_name }}</p>
                                <p class="card-text"><strong>Date:</strong> {{ event.date }}</p>
                                <p class="card-text"><strong>Attendees:</strong> {{ event.attendee_count }}</p>
                                <p class="card-text"><strong>Tags:</strong> {{ event.tags }}</p>
                                <hr>
                                <p><strong>Category:</strong>
                                    {% for cat in event.category.all %}
                                    <button class="btn btn-primary btn-sm m-2" disabled>
                                        {{ cat.name }}
                                    </button>
                                    {% endfor %}
                                </p>
                                <a href="{% url 'detail_event' event.id %}" class="btn" style="border: 1px solid #000; transition: background-color 0.3s, color 0.3s;" onmouseover="this.style.backgroundColor='#0000FF'; this.style.color='#FFFFFF'" onmouseout="this.style.backgroundColor=''; this.style.color=''">Detail & Ticket</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            
            
            
            
              {% endfor %}
          </div>
          
       </div>
    </div>
</div>




{% comment %} Logo for service {% endcomment %}
<div class="container" data-aos="fade-up">
   <h2 class="text-center mb-5">7/24 EVENT AVAILABLE</h2> 
   <div class="row"> 
    <div class="col-md-4 text-center"> 
      <i class="fas fa-map-marker-alt fa-3x mb-3"></i> 
      <h4>GREAT LOCATIONS</h4> 
      <p>"Nestled between rolling hills and serene lakes, our event venue offers a picturesque setting that seamlessly blends natural beauty with modern amenities, creating the perfect backdrop for an unforgettable experience."</p> 
    </div> 
    <div class="col-md-4 text-center"> 
      <i class="fas fa-users fa-3x mb-3"></i> 
      <h4>MORE THEN 200 SPEAKERS</h4> 
      <p>"Set against the vibrant backdrop of the city skyline, our event venue provides a dynamic and inspiring atmosphere for speakers to engage and captivate their audience."</p> 
    </div> 
    <div class="col-md-4 text-center"> <i class="fas fa-glass-martini fa-3x mb-3"></i> 
      <h4>LETS PARTY AFTER EVENT</h4> 
      <p>"Embrace the night at our urban oasis, where the rhythm of the city meets the beat of celebration, creating an electrifying atmosphere for an unforgettable party experience."</p> 
    </div> 
  </div> 
</div>
<hr data-aos="fade-up">


{% comment %} Service Containe {% endcomment %}
<div class="container" data-aos="fade-up">
  <div class="mt-3 text-center services-section">
    <h2>Our Services</h2>
  </div>
  <div class="swiffy-slider slider-item-show2 slider-item-reveal slider-nav-outside slider-nav-round slider-nav-visible slider-indicators-outside slider-indicators-round slider-indicators-dark slider-nav-animation slider-nav-animation-fadein">
    <ul class="slider-container py-4">
        <li class="">
            <div class="card shadow h-100">
                <div class="ratio ratio-16x9">
                    <img src="{%static 'Service/seminar.jpg'%}" class="card-img-top" loading="lazy" alt="...">
                </div>
                <div class="card-body p-3 p-xl-5">
                    <h3 class="card-title h5">About Seminar</h3>
                    <p class="card-text">A seminar is a focused educational event where experts share knowledge on a specific topic through presentations, discussions, and interactions.</p>
                    
                </div>
            </div>
        </li>
        <li class="">
          <div class="card shadow h-100">
              <div class="ratio ratio-16x9">
                  <img src="{%static 'Service/party.jpg'%}" class="card-img-top" loading="lazy" alt="...">
              </div>
              <div class="card-body p-3 p-xl-5">
                  <h3 class="card-title h5">About Parties</h3>
                  <p class="card-text">A party is a social gathering for celebration, enjoyment, and entertainment, often involving music, dancing, food, and good company.</p>
                  
              </div>
          </div>
      </li>
      <li class="">
        <div class="card shadow h-100">
            <div class="ratio ratio-16x9">
                <img src="{%static 'Service/auction.jpg'%}" class="card-img-top" loading="lazy" alt="...">
            </div>
            <div class="card-body p-3 p-xl-5">
                <h3 class="card-title h5">About Auction</h3>
                <p class="card-text">An auction is a public sale where goods or services are bid on, and the highest bidder wins, fostering competitive transactions.</p>
               
            </div>
        </div>
    </li>
    <li class="">
      <div class="card shadow h-100">
          <div class="ratio ratio-16x9">
              <img src="{%static 'slide1.jpg'%}" class="card-img-top" loading="lazy" alt="...">
          </div>
          <div class="card-body p-3 p-xl-5">
              <h3 class="card-title h5">About Conference</h3>
              <p class="card-text">Conferences foster knowledge exchange, networking, and collaboration. Experts share insights, innovations emerge, and communities thrive in dynamic, informative gatherings.</p>
             
          </div>
      </div>
  </li>
    </ul>
  
    <button type="button" class="slider-nav" aria-label="Go left"></button>
    <button type="button" class="slider-nav slider-nav-next" aria-label="Go left"></button>
  
    <div class="slider-indicators">
        <button class="" aria-label="Go to slide"></button>
        <button aria-label="Go to slide" class="active"></button>
        <button aria-label="Go to slide" class=""></button>
        <button aria-label="Go to slide" class=""></button>
        <button aria-label="Go to slide" class=""></button>
    </div>
  </div>
</div>
<hr data-aos="fade-up">

{% comment %} Galary {% endcomment %}
<div class="container galary-container mt-5 mb-5" data-aos="fade-up">
  <h1 class='text-center mb-3'>Our Galary</h1>
  <div class="gallery ">
    <div class="video-container">
        <video controls>
            <source src="{% static 'galary/g1.mp4'%}" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>
    <div class="video-container">
      <video controls>
          <source src="{% static 'galary/g3.mp4'%}" type="video/mp4">
          Your browser does not support the video tag.
      </video>
  </div>
  <div class="video-container">
    <video controls>
        <source src="{% static 'galary/g4.mp4'%}" type="video/mp4">
        Your browser does not support the video tag.
    </video>
  </div>
  <div class="video-container">
    <video controls>
      <source src="{% static 'galary/g5.mp4'%}" type="video/mp4">
      Your browser does not support the video tag.
    </video>
  </div>
</div>
</div>
<hr data-aos="fade-up">

{% comment %} Reviews {% endcomment %}
<div class="container client-reviews" data-aos="fade-up">
  <div class="mt-3 text-center">
    <h2>Client Reviews</h2>
  </div>
  <div class="swiffy-slider slider-item-show2 slider-item-reveal slider-nav-outside slider-nav-round slider-nav-visible slider-indicators-outside slider-indicators-round slider-indicators-dark slider-nav-animation slider-nav-animation-fadein m-auto" style="width:65%;">
    <ul class="slider-container py-4">
        <li class="review-card">
            <div class="card shadow h-100">
                <div class="text-dark">
                  <img class="" src="{% static 'Review/women1.jpeg'%}" alt="">
                  <h4>Mrs. Jini</h4>
                  <p>Message : Awsome</p>
                  <h6> Ratting: ⭐⭐⭐⭐⭐</h6>
                </div>
            </div>
        </li>
        <li class="review-card">
            <div class="card shadow h-100">
                <div class="text-dark">
                  <img class="review-card" src="{% static 'Review/man1.jpeg'%}" alt="">
                  <h4>Alister</h4>
                  <p>Message : Nice Event</p>
                  <h6> Ratting: ⭐⭐⭐⭐</h6>
                </div>
            </div>
        </li>
        <li class="review-card">
            <div class="card shadow h-100">
                <div class="text-dark">
                  <img class="review-card" src="{% static 'Review/man2.jpeg'%}" alt="">
                  <h4>Smith</h4>
                  <p>Message : Want this like event</p>
                  <h6> Ratting: ⭐⭐⭐⭐</h6>
                </div>
            </div>
        </li>
        <li class="review-card">
            <div class="card shadow h-100">
                <div class="text-dark">
                  <div>
                    <img class="review-card" src="{% static 'Review/man3.jpeg'%}" alt="">
                  </div>
                  <h4>Max</h4>
                  <p>Message : Seminar was good</p>
                  <h6> Ratting: ⭐⭐⭐⭐</h6>
                </div>
            </div>
        </li>
        <li class="review-card">
            <div class="card shadow h-100">
                <div class="text-dark">
                  <div>
                    <img class="review-card" src="{% static 'Review/man4.jpeg'%}" alt="">
                  </div>
                  <h4>Alex</h4>
                  <p>Message : Need Anothe conference</p>
                  <h6> Ratting: ⭐⭐⭐⭐</h6>
                </div>
            </div>
        </li>
    </ul>
  
    <button type="button" class="slider-nav" aria-label="Go left"></button>
    <button type="button" class="slider-nav slider-nav-next" aria-label="Go left"></button>
  
    <div class="slider-indicators">
        <button class="" aria-label="Go to slide"></button>
        <button aria-label="Go to slide" class="active"></button>
        <button aria-label="Go to slide" class=""></button>
        <button aria-label="Go to slide" class=""></button>
        <button aria-label="Go to slide" class=""></button>
    </div>
  </div>
</div>


{% comment %} sponsors {% endcomment %}
<div class="container mt-5 mb-5 m-auto" data-aos="fade-up">
  <div><h1 class="text-center mb-3">Our Sponsors</h1></div>
  <div class="swiffy-slider slider-item-show4 slider-nav-outside slider-nav-dark slider-nav-sm slider-nav-visible slider-nav-page slider-item-snapstart slider-nav-autoplay slider-nav-autopause slider-item-ratio slider-item-ratio-contain slider-item-ratio-32x9 bg-white shadow-lg py-3 py-lg-4" data-slider-nav-autoplay-interval="2000">
    <div class="slider-container">
        <div><img src="{%static 'Sponsor/logo1.jpg'%}" alt="..."></div>
        <div><img src="{%static 'Sponsor/logo2.jpg'%}" loading="lazy" alt="..."></div>
        <div><img src="{%static 'Sponsor/logo3.jpeg'%}" loading="lazy" alt="..."></div>
        <div><img src="{%static 'Sponsor/logo4.jpeg'%}" loading="lazy" alt="..."></div>
        <div><img src="{%static 'Sponsor/logo5.jpeg'%}" loading="lazy" alt="..."></div>
        <div><img src="{%static 'Sponsor/logo6.jpeg'%}" loading="lazy" alt="..."></div>
        <div><img src="{%static 'Sponsor/logo7.jpeg'%}" loading="lazy" alt="..."></div>
        <div><img src="{%static 'Sponsor/logo8.jpeg'%}" loading="lazy" alt="..."></div>
        <div><img src="{%static 'Sponsor/logo9.jpeg'%}" loading="lazy" alt="..."></div>
        <div><img src="{%static 'Sponsor/logo10.jpeg'%}" loading="lazy" alt="..."></div>
        <div><img src="{%static 'Sponsor/logo11.jpeg'%}" loading="lazy" alt="..."></div>
        <div><img src="{%static 'Sponsor/logo12.jpeg'%}" loading="lazy" alt="..."></div>
    </div>

    <button type="button" class="slider-nav" aria-label="Go left"></button>
    <button type="button" class="slider-nav slider-nav-next" aria-label="Go left"></button>

  </div>
</div>

<hr data-aos="fade-up">
{% comment %} Contact Us {% endcomment %}

<div class="container" data-aos="fade-up">
  <h2 class="text-center">Contact Us</h2>
  <div class='w-50 m-auto'>
    <form id="contactForm">
      {% csrf_token %}
      <!-- Name Input -->
      <div class="form-floating mb-3">
        <input class="form-control" id="name" name="name" type="text" placeholder="Name" data-sb-validations="required" />
        <label for="name">Name</label>
        <div class="invalid-feedback" data-sb-feedback="name:required">Name is required.</div>
      </div>

      <!-- Email Input -->
      <div class="form-floating mb-3">
        <input class="form-control" id="emailAddress" name="emailAddress" type="email" placeholder="Email Address" data-sb-validations="required,email" />
        <label for="emailAddress">Email Address</label>
        <div class="invalid-feedback" data-sb-feedback="emailAddress:required">Email Address is required.</div>
        <div class="invalid-feedback" data-sb-feedback="emailAddress:email">Email Address Email is not valid.</div>
      </div>

      <!-- Message Input -->
      <div class="form-floating mb-3">
        <textarea class="form-control" id="message" name="message" type="text" placeholder="Message" style="height: 10rem;" data-sb-validations="required"></textarea>
        <label for="message">Message</label>
        <div class="invalid-feedback" data-sb-feedback="message:required">Message is required.</div>
      </div>

      <!-- Submit success message -->
      <div class="d-none" id="submitSuccessMessage">
        <div class="text-center mb-3">
          <div class="fw-bolder text-success">Sended successful!</div>
          
        </div>
      </div>

      <!-- Submit error message -->
      <div class="d-none" id="submitErrorMessage">
        <div class="text-center text-danger mb-3">Error sending message!</div>
      </div>

      <!-- Submit button -->
      <div class="text-center">
        <button class="btn btn-primary" id="submitButton" type="submit">Submit</button>
      </div>
    </form>
  </div>
</div>


<script>
  document.addEventListener("DOMContentLoaded", function() {
    document.getElementById("contactForm").addEventListener("submit", function(event) {
      event.preventDefault(); // Prevent the default form submission

      var formData = new FormData(this);

      fetch("{% url 'contact_us' %}", {
        method: "POST",
        body: formData
      })
      .then(response => {
        if (response.ok) {
          document.getElementById("submitSuccessMessage").classList.remove("d-none");
          document.getElementById("submitErrorMessage").classList.add("d-none");
          // Clear the form upon successful submission
          document.getElementById("contactForm").reset();
        } else {
          document.getElementById("submitSuccessMessage").classList.add("d-none");
          document.getElementById("submitErrorMessage").classList.remove("d-none");
        }
      })
      .catch(error => {
        console.error("Error:", error);
        document.getElementById("submitSuccessMessage").classList.add("d-none");
        document.getElementById("submitErrorMessage").classList.remove("d-none");
      });
    });
  });
</script>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    if (window.innerWidth > 576) { // Check if screen width is greater than 576px (Bootstrap's sm breakpoint)
      AOS.init({
        duration: 1000, // Animation duration in milliseconds
        always: true, // Only animate elements once
      });
    }
  });
</script>

{% endblock %}